<header class="site-header">
  <div class="jumbotron jumbotron-fluid">
    <div class="jumbotron-text">
      <h4 class="text-primary">Liste des Aliments</h4>
      <small class="font-italic text-muted">Nutrition Pour Tous</small>
    </div>
  </div>

  <div class="breadcrumb">
    <ol class="breadcrumb-tree">
      <li class="breadcrumb-item">
        <a href="#">
          <span class="zmdi zmdi-home mr-1"></span>
          <span>Home</span>
        </a>
      </li>
      <li class="breadcrumb-item active"><a href="/aliments">Aliments</a></li>
    </ol>
    <ul class="breadcrumb-btns">            
      <li>
        <button class="btn btn-sm btn-outline-secondary">
          <i class="zmdi zmdi-plus mr-1 text-success"></i>
          <span>Ajouter Un Aliment</span>
        </button>
      </li>
    </ul>
  </div>
</header>

<div class="profile-wrapper">
  <div class="profile-section-user mt-2 mr-2">
    <div class="profile-cover-img ml-1">
      <img src="/assets/global/images/076c3fe209_117550_petit-dej-ideal.jpg" alt="">
    </div>

    <hr class="m-0">

    <div class="hidden-sm-down">
      <hr class="m-0">

      <div class="profile-info-contact p-4">
        <h6 class="mb-3">Information</h6>
        <table class="table">
          <tr>
            <td><strong>Nom:</strong></td>
            <td>
              <p class="text-muted mb-0">Nom</p>
            </td>
          </tr>
          <tr>
            <td><strong>Ajouté Le:</strong></td>
            <td>
              <p class="text-muted mb-0">Date</p>
            </td>
          </tr>
        </table>
      </div><!-- /.profile-info-contact -->
    </div>
  </div>
  <div class="profile-section-main mt-2">
    <div class="card">
      <div class="card-header">
        <div class="card-heading">
          Listes des aliments classés par Groupe
        </div>
      </div>
      <div class="card-body">
        <div class="img-gallery img-gallery-zoom-effect">
          <div class="row">
            <div class="col-md-12">
              <h2 class="aliment-title">Groupe 1</h2>
            </div>
          </div>
          <div class="scrollMenu mb-5">            
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 class="aliment-title">Groupe 2</h2>
            </div>
          </div>
          <div class="scrollMenu mb-5">            
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 class="aliment-title">Groupe 3</h2>
            </div>
          </div>
          <div class="scrollMenu mb-5">            
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 class="aliment-title">Groupe 4</h2>
            </div>
          </div>
          <div class="scrollMenu mb-5">            
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="/aliment/idaliment" class="g__item rounded">
                <figure class="g__figure">
                  <img src="/assets/global/images/blog-img-11.jpg" alt="">
                  <figcaption class="g__overlay">
                    <i class="g__zoom fa fa-gears fa-2x"></i>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>