<header class="site-header">
  <div class="jumbotron jumbotron-fluid">
    <div class="jumbotron-text">
      <h4 class="text-primary">Liste Conseils D'Hygiène</h4>
      <small class="font-italic text-muted">Nutrition Pour Tous</small>
    </div>
  </div>

  <div class="breadcrumb">
    <ol class="breadcrumb-tree">
      <li class="breadcrumb-item">
        <a href="#">
          <span class="zmdi zmdi-home mr-1"></span>
          <span>Home</span>
        </a>
      </li>
      <li class="breadcrumb-item active"><a href="/conseils_hygiene">Conseils D'Hygiène</a></li>      
    </ol>
    <ul class="breadcrumb-btns">
      <li>
        <button class="btn btn-sm btn-outline-secondary">
          <i class="fa fa-trash mr-1 text-success"></i>
          <span>Ajouter Un Conseil</span>
        </button>
      </li>
    </ul>
  </div>
</header>

<div class="site-content">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-heading">
            Conseil N°1
          </div>
        </div>
        <div class="card-body">
          <div class="profile-wrapper">
            <div class="profile-section-user mt-2 mr-2">
              <div class="profile-cover-img ml-1">
                <img src="/assets/global/images/076c3fe209_117550_petit-dej-ideal.jpg" alt="">
              </div>

              <hr class="m-0">

              <div class="hidden-sm-down">
                <hr class="m-0">

                <div class="profile-info-contact p-4">
                  <h6 class="mb-3">Information</h6>
                  <table class="table">
                    <tr>
                      <td><strong>Nom:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Nom</p>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ajouté Le:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Date</p>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Derniere Consultation:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Jeudi, 15 Novembre 20188, Par Freddy Tedem</p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="profile-section-main mt-2 h-100">
              <div class="card">
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Langue</th>
                        <th scope="col">Conseil</th>
                        <th scope="col">Date Creation</th>
                        <th scope="col">Date Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">FR</th>
                        <td class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque unde officia voluptates? Veritatis id asperiores, quae adipisci natus illum et ullam iusto harum. Dolorum quas ab maiores consequuntur veritatis. </td>
                        <td>Mecredi, 05 Janvier 2015</td>
                        <td>Mecredi, 05 Janvier 2015</td>
                      </tr>
                      <tr>
                        <th scope="row">EN</th>
                        <td class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque unde officia voluptates? Veritatis id asperiores, quae adipisci natus illum et ullam iusto harum. Dolorum quas ab maiores consequuntur veritatis. </td>
                        <td>Mecredi, 05 Janvier 2015</td>
                        <td>Mecredi, 05 Janvier 2015</td>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-md-4">
                  <button class="btn btn-outline-success btn-block d-flex justify-content-between">
                    <span>Voir Plus</span>
                    <i class="fa fa-arrow-circle-o-down text-success"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-heading">
            Conseil N°1
          </div>
        </div>
        <div class="card-body">
          <div class="profile-wrapper">
            <div class="profile-section-user mt-2 mr-2">
              <div class="profile-cover-img ml-1">
                <img src="/assets/global/images/076c3fe209_117550_petit-dej-ideal.jpg" alt="">
              </div>

              <hr class="m-0">

              <div class="hidden-sm-down">
                <hr class="m-0">

                <div class="profile-info-contact p-4">
                  <h6 class="mb-3">Information</h6>
                  <table class="table">
                    <tr>
                      <td><strong>Nom:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Nom</p>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ajouté Le:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Date</p>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Derniere Consultation:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Jeudi, 15 Novembre 20188, Par Freddy Tedem</p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="profile-section-main mt-2 h-100">
              <div class="card">
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Langue</th>
                        <th scope="col">Conseil</th>
                        <th scope="col">Date Creation</th>
                        <th scope="col">Date Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">FR</th>
                        <td class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque unde officia voluptates? Veritatis id asperiores, quae adipisci natus illum et ullam iusto harum. Dolorum quas ab maiores consequuntur veritatis. </td>
                        <td>Mecredi, 05 Janvier 2015</td>
                        <td>Mecredi, 05 Janvier 2015</td>
                      </tr>
                      <tr>
                        <th scope="row">EN</th>
                        <td class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque unde officia voluptates? Veritatis id asperiores, quae adipisci natus illum et ullam iusto harum. Dolorum quas ab maiores consequuntur veritatis. </td>
                        <td>Mecredi, 05 Janvier 2015</td>
                        <td>Mecredi, 05 Janvier 2015</td>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-md-4">
                  <button class="btn btn-outline-success btn-block d-flex justify-content-between">
                    <span>Voir Plus</span>
                    <i class="fa fa-arrow-circle-o-down text-success"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-heading">
            Conseil N°1
          </div>
        </div>
        <div class="card-body">
          <div class="profile-wrapper">
            <div class="profile-section-user mt-2 mr-2">
              <div class="profile-cover-img ml-1">
                <img src="/assets/global/images/076c3fe209_117550_petit-dej-ideal.jpg" alt="">
              </div>

              <hr class="m-0">

              <div class="hidden-sm-down">
                <hr class="m-0">

                <div class="profile-info-contact p-4">
                  <h6 class="mb-3">Information</h6>
                  <table class="table">
                    <tr>
                      <td><strong>Nom:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Nom</p>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ajouté Le:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Date</p>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Derniere Consultation:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Jeudi, 15 Novembre 20188, Par Freddy Tedem</p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="profile-section-main mt-2 h-100">
              <div class="card">
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Langue</th>
                        <th scope="col">Conseil</th>
                        <th scope="col">Date Creation</th>
                        <th scope="col">Date Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">FR</th>
                        <td class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque unde officia voluptates? Veritatis id asperiores, quae adipisci natus illum et ullam iusto harum. Dolorum quas ab maiores consequuntur veritatis. </td>
                        <td>Mecredi, 05 Janvier 2015</td>
                        <td>Mecredi, 05 Janvier 2015</td>
                      </tr>
                      <tr>
                        <th scope="row">EN</th>
                        <td class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque unde officia voluptates? Veritatis id asperiores, quae adipisci natus illum et ullam iusto harum. Dolorum quas ab maiores consequuntur veritatis. </td>
                        <td>Mecredi, 05 Janvier 2015</td>
                        <td>Mecredi, 05 Janvier 2015</td>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-md-4">
                  <button class="btn btn-outline-success btn-block d-flex justify-content-between">
                    <span>Voir Plus</span>
                    <i class="fa fa-arrow-circle-o-down text-success"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-heading">
            Conseil N°1
          </div>
        </div>
        <div class="card-body">
          <div class="profile-wrapper">
            <div class="profile-section-user mt-2 mr-2">
              <div class="profile-cover-img ml-1">
                <img src="/assets/global/images/076c3fe209_117550_petit-dej-ideal.jpg" alt="">
              </div>

              <hr class="m-0">

              <div class="hidden-sm-down">
                <hr class="m-0">

                <div class="profile-info-contact p-4">
                  <h6 class="mb-3">Information</h6>
                  <table class="table">
                    <tr>
                      <td><strong>Nom:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Nom</p>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ajouté Le:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Date</p>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Derniere Consultation:</strong></td>
                      <td>
                        <p class="text-muted mb-0">Jeudi, 15 Novembre 20188, Par Freddy Tedem</p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="profile-section-main mt-2 h-100">
              <div class="card">
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Langue</th>
                        <th scope="col">Conseil</th>
                        <th scope="col">Date Creation</th>
                        <th scope="col">Date Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">FR</th>
                        <td class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque unde officia voluptates? Veritatis id asperiores, quae adipisci natus illum et ullam iusto harum. Dolorum quas ab maiores consequuntur veritatis. </td>
                        <td>Mecredi, 05 Janvier 2015</td>
                        <td>Mecredi, 05 Janvier 2015</td>
                      </tr>
                      <tr>
                        <th scope="row">EN</th>
                        <td class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque unde officia voluptates? Veritatis id asperiores, quae adipisci natus illum et ullam iusto harum. Dolorum quas ab maiores consequuntur veritatis. </td>
                        <td>Mecredi, 05 Janvier 2015</td>
                        <td>Mecredi, 05 Janvier 2015</td>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-md-4">
                  <button class="btn btn-outline-success btn-block d-flex justify-content-between">
                    <span>Voir Plus</span>
                    <i class="fa fa-arrow-circle-o-down text-success"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>